* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

body {
  height: 100svh;
  width: 100svw;
  background-color: #171717;
  overflow-x: hidden;
}

i {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  transition: 0.3s ease color;
}

i:hover {
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  transition: 0.3s ease transform;
}

input:focus::placeholder {
  transform: translateY(-200%);
}

.content {
  margin: 0 auto;
  max-width: 1300px;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px;
}

.add-barter {
  font-size: 32px;
}

.barter {
  position: relative;
  padding: 30px 20px;
  width: 400px;
  background-color: black;
  border-radius: 20px;

  transition: 0.3s ease transform, 0.3s ease box-shadow;
}

.barter:hover {
  transform: scale(1.03);
  box-shadow: 0 0 1px 1px white;
}

.barter .fa-trash {
  position: absolute;
  top: -40px;
  left: 50%;
  font-size: 24px;
}

.barter .fa-plus-circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}

.barter-content {
  margin-top: 10px;
  padding: 10px 5px;
  color: white;
}

.barter input {
  display: block;
  margin: 0 auto;
  background: transparent;
  color: white;
  border: none;
  outline: none;
  text-align: center;
  font-size: 20px;
}

.barter-content .item-for-barter__have {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.item-for-barter {
  padding: 10px 0;
}

.item-for-barter div {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.item-for-barter div p {
  white-space: nowrap;
}

.item-for-barter img {
  width: 40px;
  height: 40px;
}

.need-edit-container,
.have-plus-container,
.have-minus-container {
  position: absolute;
  display: flex;
  left: 30px;
  top: 0;
}

.need-edit-container i {
  font-size: 16px;
}

.need-edit-input,
.have-plus-input,
.have-minus-input {
  font-size: 14px;
  padding: 10px;
  box-shadow: 0 0 1px 1.5px rgba(255, 255, 255, 0.1);
  width: 100px;
}

.choose-item-for-barter-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background-color: black;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.choose-item-for-barter-container img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #aaaaaa15;
  transition: 0.3s ease opacity, 0.3s ease transform, 0.3s ease box-shadow;
}

.choose-item-for-barter-container img:hover {
  opacity: 80%;
  transform: scale(0.9);
  box-shadow: 0 0 1px 1.5px white;
}
